# use django to set the api of peterlits.com

# private setting
private.py

# database
# main database
db.sqlite3
# the folder to hold all user statics files
statics/

# python cache
__pycache__/
*.py[cod]
*$py.class

# server log/output
*.log

# venv
venv/
